@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');

section::-webkit-scrollbar{
    display: none;
}

section::-webkit-scrollbar {
    width: 0 !important
}

body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #cde6e6;
    font-family: 'Roboto Mono', monospace;
    color: #eaeaea;
    overflow: hidden;
}

main {
    height: 100%;
    width: 100%;
}

section {
    height: 60%;
    width: 50%;
    margin-top: 10%;
    margin-left: 25%;
    position: relative;
    box-sizing: border-box;
    background-color: #2c66c9;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: .5rem;
    padding-top: .5rem;
    overflow-y: scroll;
    overflow-x: hidden;
    border: #cde6e6 solid 1px;
}

form input {
    box-sizing: border-box;
    width: 100%;
    border: none;
    font-size: 1rem;
    background-color: transparent;
    font-family: 'Roboto Mono', monospace;
    color: #eaeaea;
}

form input:focus {
    border: none;
    outline: none;
}

button {
    display: none;
}

ul {
    list-style: none;
    padding: 0rem 1rem;
    margin: 0;
}

p {
    padding: 0rem .1rem 0rem 1rem;
    margin: 0;
}

.yellow {
    color: #eaf252;
}

.green {
    color: #23e9e9;
}

section form {
    width: 50%;
    box-sizing: border-box;
    border-radius: 0rem 0rem .5rem .5rem;
}

.input-container {
    width: 100%;
    display: flex;
    gap: .1rem;
}
